* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: digikala;
  src: url(../Fonts/Yekan.woff);}

  ::-webkit-scrollbar{
    width: 6px;
    background-color: #f0f0f1;
  }
  ::-webkit-scrollbar-thumb{
    background-color: #a1a3a8;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


div.header {
  width: 100%;
  height: 168px;
  background-color: #ffffff ;
  /* position: fixed; */
  position: fixed;
  box-shadow: 2px 0px 15px black;
  top: 0;
}
div.header > a > div {
  height: 60px;
}
div.header > div.search {
  width: inherit;
  height: 68px;
  padding: 12px 16px;
  line-height: 68px;
  position: relative;
}
div.header > div.search > img {
  width: 115px;
  height: 30px;
  margin-left: 20px;
  display: inline-block;
}
/* div.header > div.search > input {
  width: 600px;
  height: 44px;
  padding: 0 16px;
  background-color: #f0f0f1;
  position: absolute;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border: unset;
  outline: unset;
  padding-left: 16px;
  padding-right: 16px;
}
div.header > div.search >a>span{
  position: absolute;
  z-index: 1;
  width: 24px;
  height: 24px;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.17;
  margin: auto 16px;
} */


div.header>div.search>div.input{
  width: 600px;
  height: 44px;
  padding: 0 16px;
  background-color: #f0f0f1;
  position: absolute;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border: unset;
  outline: unset;
  padding-left: 16px;
  padding-right: 16px;
  top:calc(50% - 44px / 2);
  right: 145px;
  line-height: 44px;
  display: inline-block;
}
div.header>div.search>div.input>input{
  width: 512px;
  height: 27px;
  border: unset;
  outline: unset;
  margin: auto 14px;
  font-family: digikala;
  color: #a1a3a8;
  line-height: 27px;
  background-color: #f0f0f1;
  position: absolute;
  top: calc(50% - (30px / 2 ));

}
span.fa-magnifying-glass{
  color: rgb(161,163, 168);
}
div.header>div.search>div.input>input[type=text]::placeholder{
  color: #84878b;
}

/* div.menu > nav {
  width: 100%;
  height: 40px;
  background-color: whitesmoke;
}
div.menu > nav > ul {
  width: inherit;
  height: inherit;
  list-style: none;

}
div.menu > nav > ul > li {
  width: auto;
  height: inherit;
  display: inline-block;
  line-height: 40px;
  margin-left: 10px;
}
div.menu > nav > ul > li > a {
  width: auto;
  text-decoration: none;
  color: rgb(161, 163, 168);
  font-weight: 300;
  font-family: digikala;
  font-size: 14px;
  padding: 0 10px;
} */

div.menu > nav > ul > li {
  display: inline-block;
}

div.id{
  width: 98%;
  height: 100px;
  margin: 0 auto;
  padding: 0 16px;
}
div.id>div.first{
  width: 100%;
  height: 95px;
  margin: 0 auto;
  margin-top: 24px;
  padding: 8px 12px;
  position: relative;
  z-index: -1;
  
}
div.id>div.first>a.pic>img:nth-of-type(1){
  width: 52px;
  height: 52px;
  position: absolute;
  top: 10px;
  right: 60px;
  z-index: 0;
}
div.id>div.first>a:nth-of-type(2){
  position: absolute;
  bottom: 10px;
  right: 58px;
font-size: 12px;
color: rgb(32, 31, 31);
z-index: 0;

}
div.id>div.first>a.style>img{
  width: 52px;
  height: 52px;
  position: absolute;
  top: 10px;
  right: 220px;
  z-index: 0;

}
div.id>div.first>a.style1{
  position: absolute;
  bottom: 10px;
  right: 219px;
font-size: 12px;
color: rgb(32, 31, 31);
z-index: 0;

}
div.id>div.first>a.qest>img{
  width: 52px;
  height: 52px;
  position: absolute;
  top: 10px;
  right: 380px;
  z-index: 0;

}
div.id>div.first>a.qest1{
  position: absolute;
  bottom: 10px;
  right: 379px;
font-size: 12px;
z-index: 0;

color: rgb(32, 31, 31);
}
div.id>div.first>a.whole>img{
  width: 52px;
  height: 52px;
  position: absolute;
  top: 10px;
  right: 550px;
  z-index: 0;

}
div.id>div.first>a.whole1{
  position: absolute;
  bottom: 10px;
  right: 530px;
font-size: 12px;
color: rgb(32, 31, 31);
z-index: 0;
}

div.id>div.first>a.mah>img{
  width: 52px;
  height: 52px;
  position: absolute;
  top: 10px;
  right: 720px;
  z-index: 0;

}
div.id>div.first>a.mah1{
  position: absolute;
  bottom: 10px;
  right: 720px;
font-size: 12px;
color: rgb(32, 31, 31);
z-index: 0;

}
div.id>div.first>a.bakht>img{
  width: 52px;
  height: 52px;
  position: absolute;
  top: 10px;
  right: 870px;
  z-index: 0;

} 
div.id>div.first>a.bakht1{
  position: absolute;
  bottom: 10px;
  right: 872px;
font-size: 12px;
color: rgb(32, 31, 31); 
z-index: 0;
}

div.id>div.first>a.plus>img{
  width: 52px;
  height: 52px;
  position: absolute;
  top: 10px;
left: 210px;
z-index: 0;

} 
div.id>div.first>a.plus1{
  position: absolute;
  bottom: 10px;
  left: 210px;
font-size: 12px;
color: rgb(32, 31, 31);
z-index: 0;
}
div.id>div.first>div.more{
  width: 52px;
  height: 52px;
  position: absolute;
  left: 50px;
  top: 10px;
  background-color: rgb(240, 240, 241);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 0;

}
div.id>div.first>div.more>span
{
  font-size: 25px;
  position: absolute;
  top: 13px;
  right:14px;
  color: rgb(162, 163, 168);
  z-index: 0;

}
div.id>div.first>a.more{
  position: absolute;
  bottom: 10px;
  left: 60px;
font-size: 12px;
color: rgb(32, 31, 31);
z-index: -1;

}

div.pics{
  width: 95%;
  height: auto;
  position: absolute;
  top: 1100px;
  left: calc(50% - (95% / 2));
  text-align: center;
  z-index: -1;
  margin-bottom: 24px;

}
div.pics>a>img{
 width:314px;
 height: 235px;
 border-radius: 16px;
 -webkit-border-radius: 16px;
 -moz-border-radius: 16px;
 -ms-border-radius: 16px;
 -o-border-radius: 16px;
 object-fit: cover;
 display: inline-block;
margin: 0 3.1px; 
}

































div.search>div.user{
  width: 125px;
  height: 44px;
  position: absolute;
  top: 12px;
  left: 16px;
  line-height: 44px;

  

}
div.search>div.user>:nth-of-type(1){
  width: 40px;
  height: 40px;
  padding: 8px;
  direction: ltr;
  position: absolute;
  left: 0;
  line-height: 40px;
  bottom: 2px;
}
div.search>div.user>:nth-of-type(2){
  width: 60px;
  height: 40px;
  right: 0;
  padding: 6px;
  direction: rtl;
  line-height: 40px;
  position: absolute;
  bottom: 2px;

}
 
div.search>div.user>:nth-of-type(2)>a.drop{
  position: absolute;
  top: 0;
  left: 8px;
}









